/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensure the html and body take up the full height */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fffaf0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes up the full height of the viewport */
}

header {
  background-color: #262626;
  color: #e0e0e0;
  padding: 10px 20px; /* Adjust padding as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure header stays on top of other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  position: relative; /* Ensure relative positioning for absolute positioning */
}

header nav #dark-mode-toggle {
  margin-left: 20px; /* Adjust spacing between Contact link and dark mode toggle */
}

header h2 {
  margin-right: 20px; /* Adjust spacing between logo and navigation */
}

header a {
  text-decoration: none;
  color: #fff0af; /* Example link color */
}

button#menu-toggle {
  display: none; /* Hide by default */
  background: none;
  border: none;
  cursor: pointer;
}

button#menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: transform 0.3s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Right justify when visible */
}

nav ul li {
  margin-right: 20px; /* Adjust spacing between menu items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from last item */
}

nav ul.show {
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust top position */
  right: 0;
  background-color: #262626; /* Example background color */
  width: 100%;
}

nav ul.show li {
  text-align: center;
  margin: 10px 0;
}

main {
  flex: 1; /* Ensure the main content takes up all available space */
  padding: 20px;
  margin-top: 80px; /* Match header height to prevent content overlap */
  max-width: calc(100% - 40px); /* Set maximum width */
  margin-left: auto; /* Center align the main content */
  margin-right: auto; /* Center align the main content */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

main .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .text {
  flex: 1;
  padding-right: 20px;
}

main aside {
  flex: 0 0 300px;
}

main aside img {
  width: 100%;
  height: auto;
}

.writing-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.writing-item {
  outline-color: #262626;
  outline-style: solid;
  flex: 0 0 250px;
  text-align: center;
  margin: 10px 10px;
}

.writing-item img {
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

footer {
  background-color: #262626;
  color: #fff0af;
  text-align: center;
  padding: 15px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  /* Adjust for smaller screens if necessary */
  header nav #dark-mode-toggle {
    margin-left: 0; /* Remove margin for smaller screens if needed */
    margin-top: 10px; /* Add top margin for separation */
  }

  button#menu-toggle {
    display: block; /* Display the toggle button on smaller screens */
  }

  nav ul {
    display: none; /* Hide the navigation list by default on smaller screens */
  }

  nav ul.show {
    display: flex; /* Show the navigation list when the menu is toggled */
    justify-content: flex-start; /* Left justify when dropdown menu is shown */
  }

  main {
    padding: 20px; /* Adjust main padding on smaller screens */
  }

  main .content {
    flex-direction: column;
  }

  main aside {
    width: 100%;
    margin-top: 20px;
  }
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

header.dark-mode {
  background-color: #1f1f1f;
}

header.dark-mode a {
  color: #e0e0e0;
}

main.dark-mode {
  background-color: #121212;
}

footer.dark-mode {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

footer.dark-mode .social-icons a {
  color: #e0e0e0;
}
